body {
  background-color: ccc;
  min-height: 100vh;
}

body h1 {
  color: #999;
}

.wrap_paginate {
  margin-top: 60px;
  background-color: #ECF0F1;
}

.wrap_paginate nav ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap_paginate nav ul.pagination li {
  margin: 0 20px;
  list-style: none;
}

.wrap_paginate nav ul.pagination li a {
  text-decoration: none;
  color: #2292F2;
}

.wrap_paginate nav ul.pagination li.active {
  background-color: #2292F2;
  border-radius: 50%;
  padding: 5px 13px;
  color: #fff;
}

